name: Minimal_Weather
description: A simple weather app.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2
  geolocator: ^6.0.0+4
  http: ^0.12.2
  flutter_spinkit: ^4.1.2
  weather_icons: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - images/
  fonts:
  - family: Comfortaa
    fonts:
    - asset: fonts/Comfortaa-Regular.ttf  